{
  "project_info": {
    "project_number": "454066373709",
    "project_id": "my-rikkhub",
    "storage_bucket": "my-rikkhub.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:454066373709:android:73fd7d332259598cab0804",
        "android_client_info": {
          "package_name": "me.rerere.rikkahub"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "AIzaSyA5toAWQP9LOxMZznGs_h2NP5dD8R8Gt0Q"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    },
    {
      "client_info": {
        "mobilesdk_app_id": "1:454066373709:android:73fd7d332259598cab0804",
        "android_client_info": {
          "package_name": "me.rerere.rikkahub.debug"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "AIzaSyA5toAWQP9LOxMZznGs_h2NP5dD8R8Gt0Q"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
